<div class="header-left">
  <h1>Cut. Jobs - Find Your Next Career Opportunity!</h1>
</div>

<nav>
  <ul class="nav-links" id="nav-links">
    <li><a id="mark" href="index.html">Home</a></li>
    <li><a href="#">Jobs</a></li>
    <li><a href="#">Companies</a></li>
    <li><a href="#">Salaries</a></li>
    <li><a href="#">Careers Paths</a></li>
  </ul>

  <div class="hamburger" id="hamburger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
</nav>

<div class="header-right">
  <div class="icon-button"><i class="ri-user-line-2"></i></div>
  <div class="icon-button"></div>
  <button class="post-job-btn">Post a Job</button>
</div>
